ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: GREY;
    text-align: center;
    position: relative;
    display: inline-block;
}

li {
    
    float:left;
        }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}



img.house {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


h1.Welcome {
    color: aliceblue;
font: 700;
font-size: 100;
font-size-adjust: 700;
text-align: center;
font-family: fantasy;
font-style: oblique

}

body {
    background-size: cover;
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQoDvxfw9sRksj2zjXDBYUL2CluZwIWK_-29IjcHnzUp3YdQDcL);
}