ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: GREY;
    text-align: center;
    position: relative;
    display: inline-block;
}

li {
    float:left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}


#heading {
    color: ghostwhite;
    text-align: center;
    font-size: 100px;
    background-color: grey
        
}

#pros {
    Color:Red;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

#cons {
	color: Red;
    float: right;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-size: cover;
    background-image: url(http://www.clipartkid.com/images/339/transparent-grunge-frame-by-theartist100-on-deviantart-GGv05F-clipart.png);  
}
