ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: GREY;
    text-align: center;
    position: relative;
    display: inline-block;
}

li {
    float:left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}


#heading {
    color: ghostwhite;
    text-align: center;
    font-size: 100px;        
}

#pros {
    height: 500px;
    width: 48%;
    Color:Red;
    float: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 60px;
    border: 5px;
     border-color:black;
}

#cons {
    height: 500px;
    width: 48%;
	color: Red;
    float: right;
    margin-left: 20;
    margin-right: auto;
    font-size: 60px;
    border: 5px;
    border-color:black;
}

body {
    background-size: cover;
    background-image: url(http://git.mate-desktop.org/mate-backgrounds/plain/desktop/Stripes.png?id=mate-backgrounds-1.9.0);  
}


#example {
    text-align:center;
    font-size: 45px;
}

#explain {
    font-size: 40px;
}