ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: GREY;
    text-align: center;
    position: relative;
    display: inline-block;
}

li {
    float:left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}


#heading {
    color: ghostwhite;
    text-align: center;
    font-size: 100px;
    background-color: grey
}

#printing {
    color: ghostwhite;
    display: block;
    background-color: brown;
    height: 1500px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#what {
    float: left;
    background-color: darkgray;
    height: 1000px;
    width: 50%;
    font-size: 35px;
}

#spools {
    
}

#nylon {
    
}

#ABS {
    
}

#Resin {
    
}

#steel {
    
}

#GS {
    
}

#titanium {
    
}

#titanium {
    
}

#ceramic {
    
}

#gypsum {
    
}

#description {
	
}

#info {
    
}



#how {
    float: right;
    background-color: darkgray;
    height: 1000px;
    width: 50%
}

#how2 {
    
}


iframe {
    height: 300px;
    width: 500px;
}


iframe.example {
    height: 300px;
    width: 500px;

}